body {
    margin: 0;
}

.keyboard table {
    width: 100%;
    font-family: 'mayascript';
    font-size: 2vw;
    color: white;
}

.keyboard table td {
    text-align: center;
    padding: 5px;
    background: #2E2E2E;
    border: 2px solid #443a34;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

td.delete, td.tab, td.capslock, td.return, td.left-shift, td.right-shift,
td.ctrl, td.opt, td.cmd1, td.cmd2, td.opt2
{
  font-family: 'Roboto';
  font-size: 1.5vw;
}

.hover {
    -moz-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
}

.keydown {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.capsLockOn {
    color: #dba94c;
}

.uppercase {
    text-transform: uppercase;
}

.on {
    display: none;
}

.off {
    display: block;
}

@media screen and (min-width: 640px) {
    .keyboard table {
        font-size: 2.3vw;
    }
    .keyboard table td {
        /* padding: 2px 5px; */
        border: 2px solid #443a34;
    }
}

.text-container {
    margin: 10px;
}
