body {
    margin: 0;
}

.keyboard table {
    width: 100%;
    font-family: 'mayascript';
    font-size: 2vw;
    color: white;
}

.keyboard table.table_1 td {
  width: calc(100% / 14);
  min-height: auto;
}
.keyboard table.table_2 td {
  width: calc(100% / 13.5);
}
.keyboard table.table_3 td, .keyboard table.table_4 td, .keyboard table.table_5 td {
  width: calc(100% / 16);
}

.keyboard table.table_5 tbody tr td.ctrl, .keyboard table.table_5 tbody tr td.cmd1
.keyboard table.table_5 tbody tr td.cmd2 , .keyboard table.table_5 tbody tr td.opt1,
.keyboard table.table_5 tbody tr td.opt2 {
  width: calc(2*100% / 16);
}

.keyboard table.table_5 tbody tr td.space {
  width: calc(6*100% / 16);
}

.keyboard table.table_1 tbody tr td.delete, .keyboard table.table_3 tbody tr td.capslock,
 .keyboard table.table_3 tbody tr td.return{
  width: calc(2*100% / 14);
}
.keyboard table.table_2 tbody tr td.tab, .keyboard table.table_4 tbody tr td.left-shift,
 .keyboard table.table_4 tbody tr td.right-shift{
  width: calc(1.5*100% / 14);
}

.keyboard table td {
    text-align: center;
    padding: 5px;
    /* background: #2E2E2E; */
    border: 2px solid #443a34;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #191005
}

td.delete, td.tab, td.capslock, td.return, td.left-shift, td.right-shift,
td.ctrl, td.opt, td.cmd1, td.cmd2, td.opt2
{
  font-family: 'Roboto';
  font-size: 1.5vw;
}

textarea {
  resize: none;
  text-decoration: none;
  user-select: none;
}

.hover {
    -moz-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
}

.keydown {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    color: black;
    background-color: white !important; 
}

.capsLockOn {
    color: #dba94c;
}

.uppercase {
    text-transform: uppercase;
}

.on {
    display: none;
}

.off {
    display: block;
}

@media screen and (min-width: 640px) {
    .keyboard table {
        font-size: 2.3vw;
    }
    .keyboard table td {
        /* padding: 2px 5px; */
        border: 2px solid #443a34;
        background-color: #191005
    }
}

.text-container {
    margin: 10px;
}
