html {
  box-sizing: border-box; }

body {
  background-color: #191005;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap; }

header {
  background-color: #ed4747;
  width: 100%;
  display: flex; }
  header div[class*="menu_opt"]:hover {
    background-color: #af3434;
    cursor: pointer;
    color: white; }
  header div {
    color: black;
    width: calc(100% / 6);
    text-align: center;
    padding: 0.3em; }

main {
  width: calc(100% - 240px);
  margin: 0 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1; }
  main .main_content {
    width: 100%; }
    main .main_content .main_content_info {
      background-color: #443a34;
      width: 80%; }
  main .sidebar_content {
    width: 0%;
    display: none; }
  main .main_transalor_title {
    width: 100%;
    color: white;
    margin-top: 60px; }
    main .main_transalor_title h1 {
      margin: 0;
      font-weight: 700; }
    main .main_transalor_title p {
      margin: 0; }
    main .main_transalor_title .description {
      font-weight: lighter; }
  main .main_translator_content {
    background-color: #443a34;
    width: calc(100% - 80px);
    height: 50%;
    padding: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    main .main_translator_content h3 {
      margin: 0;
      font-weight: normal; }
    main .main_translator_content .translator_spanish, main .main_translator_content .translator_mayan {
      width: 40%; }
      main .main_translator_content .translator_spanish .translator_spanish_header, main .main_translator_content .translator_spanish .translator_mayan_header, main .main_translator_content .translator_mayan .translator_spanish_header, main .main_translator_content .translator_mayan .translator_mayan_header {
        width: 100%;
        padding: 5px 0px; }
        main .main_translator_content .translator_spanish .translator_spanish_header label, main .main_translator_content .translator_spanish .translator_mayan_header label, main .main_translator_content .translator_mayan .translator_spanish_header label, main .main_translator_content .translator_mayan .translator_mayan_header label {
          font-size: 10px; }
      main .main_translator_content .translator_spanish .translator_spanish_content, main .main_translator_content .translator_spanish .translator_mayan_content, main .main_translator_content .translator_mayan .translator_spanish_content, main .main_translator_content .translator_mayan .translator_mayan_content {
        width: 100%;
        color: black; }
        main .main_translator_content .translator_spanish .translator_spanish_content .textarea_container, main .main_translator_content .translator_spanish .translator_mayan_content .textarea_container, main .main_translator_content .translator_mayan .translator_spanish_content .textarea_container, main .main_translator_content .translator_mayan .translator_mayan_content .textarea_container {
          position: relative; }
          main .main_translator_content .translator_spanish .translator_spanish_content .textarea_container textarea, main .main_translator_content .translator_spanish .translator_mayan_content .textarea_container textarea, main .main_translator_content .translator_mayan .translator_spanish_content .textarea_container textarea, main .main_translator_content .translator_mayan .translator_mayan_content .textarea_container textarea {
            font-size: 22px;
            width: 100%;
            height: 100%;
            resize: none;
            background-color: #b2aeab;
            border: none;
            overflow: auto;
            outline: none; }
          main .main_translator_content .translator_spanish .translator_spanish_content .textarea_container span, main .main_translator_content .translator_spanish .translator_mayan_content .textarea_container span, main .main_translator_content .translator_mayan .translator_spanish_content .textarea_container span, main .main_translator_content .translator_mayan .translator_mayan_content .textarea_container span {
            position: absolute;
            bottom: 13px;
            right: 10px;
            color: #443a34; }
        main .main_translator_content .translator_spanish .translator_spanish_content p, main .main_translator_content .translator_spanish .translator_mayan_content p, main .main_translator_content .translator_mayan .translator_spanish_content p, main .main_translator_content .translator_mayan .translator_mayan_content p {
          color: white;
          padding-top: 4px;
          font-size: 10px; }

footer {
  background-color: #dba94c;
  color: black;
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 20px;
  flex-shrink: 0;
  font-size: 12px; }
  footer .footer_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 120px);
    padding: 0 60px; }
    footer .footer_content div {
      width: calc(100%/3); }
    footer .footer_content div.american_museum {
      text-align: right; }

#draggable {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0; }

#droppable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  float: left;
  margin: 10px; }

/*# sourceMappingURL=styles.css.map */
