*
	@include user-select
	@include box-sizing(border-box)

.game_content
	@include flex
	justify-content: space-between
	width: 100% 
	transition: all 0.25s ease
	height: calc(100vh - 6.5em)
	.column
		height: 100%
		&.info_column
			overflow-y: auto
			width: 22%
			padding: 4em 0 0 7em
			.column_introduction
				margin-bottom: .3em
			.column_main_title
				margin: 0
				font-size: 2em
				font-weight: 700
			.column_description
				font-weight: 100
				margin-bottom: 1.5em
			.glyph_slide
				.glyph_box
					display: grid
					grid-template-columns: 3.7vw 7.4vw 3.7vw
					grid-template-rows: 3.7vw 7.4vw 3.7vw
					margin: .175em 0
					@include mayascript
					.glyph_boxx
						position: relative
						div
							position: absolute
							line-height: 0
							font-size: 11.9vw
							top: 3.65vw
						&.glyph_box01
						&.glyph_box02
							border: 1px solid gray
							div
								top: 1.8vw
								left: 1.26vw
								@include transform(rotate(-90deg))
						&.glyph_box03
						&.glyph_box04
							border: 1px solid gray
							div
								left: -0.57vw
								@include transform(scaleX(-1))
						&.glyph_box05
							border: 1px solid #DBA94C
							div
								z-index: 1
								left: -.65vw
						&.glyph_box06
							border: 1px solid gray
							div
								left: -0.57vw
						&.glyph_box07
						&.glyph_box08
							border: 1px solid gray
							div
								top: 1.8vw
								left: 1.26vw
								@include transform(rotate(90deg))
						&.glyph_box09
				.number_box
					display: none
					//display: grid
					grid-template-columns: 3.6vw 3.6vw 3.6vw 3.6vw
					grid-template-rows: 14.8vw
					margin: .2em 0
					@include mayascript
					.n_box
						position: relative
						border: 1px solid gray
						div
							position: absolute
							font-size: 12.3vw
							line-height: 0
							top: 7.33vw
							left: .5vw
							&.zero
								margin-left: -.05em
						&.n_box01
						&.n_box02
						&.n_box03
							//margin-left: .2em
						&.n_box04
				.slide_arrows
					@include flex
					justify-content: space-around
					color: #DBA94C
					cursor: pointer
					margin-left: -.6vw
					#arrow_right, #arrow_left
						@include transition (all 0.2s ease)
						&:hover
							@include hover-opacity
				.glyph_title
					margin-top: 1em
					font-size: 1.3em
					font-weight: 300
				.glyph_mayan
					font-style: italic
					font-weight: 200
					padding-top: .3em
					opacity: .7
				.glyph_trans_num
					font-style: italic
					padding-top: .3em
					font-weight: 200
					font-size: .7em
					opacity: .4
				.glyph_description
					font-weight: 200
					margin-top: .3em
					opacity: .6
					font-size: .9em


		
		&.game_column
			width: 40%
			height: calc(100vh - 13.5em)
			//margin: 0 7vw
			.game_main_box
				display: grid
				grid-template-columns: 10vw 20vw 10vw
				grid-template-rows: 10vw 20vw 10vw
				@include mayascript
				.droppable
					position: relative
					font-size: 32.2vw
					&.completed
						border-color: transparent !important
					&.green
						border: 0
						border: 3px solid green
						//background-color: rgba(0,255,0,.5)
					&.red
						border: 0
						border: 3px solid red
						//background-color: rgba(255,0,0,.5)
				.box02, .box04, .box05, .box06, .box08
					div
						position: absolute
						line-height: 0
						top: 9.9vw
				.box01
				.box02
					border: 3px solid gray
					div
						top: 4.85vw
						left: 3.4vw
						@include transform(rotate(-90deg))
				.box03
				.box04
					border: 3px solid gray
					div
						left: -1.6vw
						@include transform(scaleX(-1))
				.box05
					border: 3px solid #DBA94C
					div
						z-index: 1
						left: -1.95vw
				.box06
					border: 3px solid gray
					div
						left: -1.6vw
				.box07
				.box08
					border: 3px solid gray
					div
						top: 4.85vw
						left: 3.4vw
						@include transform(rotate(90deg))
				.box09
			.game_number_box
				display: none
				//display: grid
				grid-template-columns: 10vw 10vw 10vw 10vw
				grid-template-rows: 40vw
				@include mayascript
				.droppable
					position: relative
					&.completed
						border-color: transparent !important
					div
						position: absolute
						font-size: 33.3vw
						top: -3.4vw
						left: 1.5vw
						&.zero
							margin-left: -.05em
					&.green
						border: 0
						border: 3px solid green
						//background-color: rgba(0,255,0,.5)
					&.red
						border: 0
						border: 3px solid red
						//background-color: rgba(255,0,0,.5)
				.number_box01, .number_box02, .number_box03, .number_box04 
					border: 3px solid gray
				.number_box03
					//margin-left: .5em
						

		&.glyphs_column
			z-index: 100
			user-select: none
			//overflow-x: visible
			//overflow-y: auto
			width: 23%
			background-color: #443a34 
			border-left: 2px solid black
			.arrow
				display: none
				span
					user-select: none
			.glyphs
				width: 100%
				.minus
					cursor: pointer
				.principal_sign
					//border-left: 2px solid black
					.principal_title
						@include flex
						justify-content: space-between
						border-top: 1px solid black
						border-bottom: 1px solid black
						color: black
						font-weight: 500
						font-size: .9em
						padding: .3em
						background-color: #DBA94C
					.principal_elements
						padding: .4em
						padding-right: 0
						cursor: pointer
						@include flex-wrap
						justify-content: space-around
						font-size: calc(2.1vw + 2.1vh + .5em)
						@include mayascript
						line-height: 1em
						.sign
							padding-right: .3em
				.other_signs
					//border-left: 2px solid black
					.others_title
						@include flex
						justify-content: space-between
						border-top: 1px solid black
						border-bottom: 1px solid black
						color: black
						font-weight: 500
						font-size: .9em
						padding: .3em
						background-color: #CE8546
						.title_text
							.light
								font-size: .8em
								font-weight: 300
					.others_elements
						padding: .4em
						padding-right: 0
						cursor: pointer
						@include flex-wrap
						justify-content: space-around
						font-size: calc(2.1vw + 2.1vh + .5em)
						@include mayascript
						line-height: 1em
						.sign
							padding-right: .3em
				.numbers
					//border-left: 2px solid black
					.numbers_title
						@include flex
						justify-content: space-between
						border-top: 1px solid black
						border-bottom: 1px solid black
						color: black
						font-weight: 500
						font-size: .9em
						padding: .3em
						background-color: #E56871
					.numbers_elements
						padding: .4em
						padding-right: 0
						cursor: pointer
						@include flex-wrap
						justify-content: space-around
						font-size: calc(1.5vw + 1.5vh + .5em)
						@include mayascript
						.number


@media (max-width: $breakpoint-desktop)
	
	.game_content
		.column
			&.info_column
				padding: 4em 0 0 5em
				.glyph_slide
					.slide_arrows
						margin-left: -1.2vw

			&.game_column
				.game_main_box
					margin: 9vh 0
				.game_number_box
					margin: 11vh 0
					.droppable
						div
							top: -3.5vw
	
			&.glyphs_column
				width: 20%
				.arrow
				.glyphs
					.minus
					.principal_sign
						.principal_title
						.principal_elements
							padding: .3em
							padding-right: 0
							font-size: calc(4.2vw + .5em)
							.sign
								padding-right: 0.2em
					.other_signs
						.others_title
							.title_text
								.light
						.others_elements
							padding: .3em
							padding-right: 0
							font-size: calc(3.6vw + 1em)
							.sign
								padding-right: 0.2em
					.numbers
						.numbers_title
						.numbers_elements
							//font-size: calc(3vw + .5em)
							.number


@media (max-width: $breakpoint-tabletXL) and (orientation: portrait)

	.game_content
		.column
			&.info_column
				width: 32%
				padding: 4em 0 0 4em
				.column_introduction
				.column_main_title
				.column_description
				.glyph_slide
					.glyph_box
						grid-template-columns: 6vw 12vw 6vw
						grid-template-rows: 6vw 12vw 6vw
						.glyph_boxx
							div
								font-size: 19vw
								top: 6vw
							&.glyph_box02
								div
									top: 2.9vw
									left: 1.96vw
							&.glyph_box04
								div
									left: -.95vw
							&.glyph_box05
								div
									left: -1.05vw
							&.glyph_box06
								div
									left: -.95vw
							&.glyph_box08
								div
									top: 2.9vw
									left: 1.96vw
					.number_box
						grid-template-columns: 6vw 6vw 6vw 6vw
						grid-template-rows: 24vw
						.n_box
							div
								font-size: 19.9vw
								line-height: 0
								top: 11.9vw
								left: 1vw
					.slide_arrows
						margin-top: .5em
						margin-left: -1.1em
					.glyph_title
					.glyph_description

			
			&.game_column
				width: 60%
				.game_main_box
					grid-template-columns: 13.25vw 26.5vw 13.25vw
					grid-template-rows: 13.25vw 26.5vw 13.25vw
					.droppable
						font-size: 42.5vw
					.box02, .box04, .box05, .box06, .box08
						div
							top: 13.1vw
					.box02
						div
							top: 6.4vw
							left: 4.5vw
					.box04
						div
							left: -2.2vw
					.box05
						div
							left: -2.35vw
					.box06
						div
							left: -2.2vw
					.box08
						div
							top: 6.4vw
							left: 4.5vw
				.game_number_box
					grid-template-columns: 13.25vw 13.25vw 13.25vw 13.5vw
					grid-template-rows: 53vw
					.droppable
						position: relative
						div
							position: absolute
							font-size: 44vw
							top: -4.5vw
							left: 2vw

			&.glyphs_column
				position: fixed
				width: 100%
				height: 28em
				bottom: 2.5em
				right: 0
				.arrow
				.glyphs
					.minus
					.principal_sign
						border: 0
						.principal_title
						.principal_elements
							justify-content: center
							padding: 0.2em 1.3em
							font-size: calc(6.2vw + .5em)
							.sign
					.other_signs
						border: 0
						.others_title
							.title_text
								.light
						.others_elements
							justify-content: center
							padding: 0.2em
							padding-right: 0
							font-size: calc(5.4vw + 1em)
							.sign
					.numbers
						border: 0
						.numbers_title
						.numbers_elements
							padding: 0.2em
							justify-content: center
							font-size: calc(2.5vw + 1.5vh + .5em)
							.number
								margin-right: 1em


@media (max-width: $breakpoint-tabletXL) and (orientation: landscape)

	.game_content
		.column
			&.info_column
				padding: 4em 0 0 3em
				width: 26%
				.column_introduction
				.column_main_title
				.column_description
				.glyph_slide
					.glyph_box
						margin: 1em 1.3em
					.number_box
						margin: 1em 1.3em
					.slide_arrows
						margin-left: -.5em
					.glyph_title
					.glyph_description

			
			&.game_column
				margin: 0 5vw
				.game_main_box
					margin: 10.5vh -2vh
				.game_number_box
					margin: 10.5vh -2vh

			&.glyphs_column
				width: 25%
				.arrow
				.glyphs
					.minus
					.principal_sign
						.principal_title
						.principal_elements
							font-size: calc(3.8vw + .75em)
							.sign
					.other_signs
						.others_title
							.title_text
								.light
						.others_elements
							font-size: calc(3.3vw + .75em)
							.sign
					.numbers
						.numbers_title
						.numbers_elements
							//font-size: calc(3vw + .5em)
							.number


@media (max-width: $breakpoint-tablet)

	.game_content
		//margin-top: 6vh
		height: calc(100vh - 6.5em)
		.column
			&.info_column
				width: 33%
				padding: 4.5em 0 0 2em
				.column_introduction
				.column_main_title
				.column_description
				.glyph_slide
					.glyph_box
						margin: 0.2em .9em
					.number_box
						margin: 0.2em .9em
					.slide_arrows
						margin-left: -.8em
					.glyph_title
					.glyph_description

			
			&.game_column
				width: 60%
				padding-top: 4.8em
				.game_main_box
					margin: 11vh -.6em
				.game_number_box
					margin: 11vh -.6em


			&.glyphs_column
				position: fixed
				width: 100%
				height: 26em
				bottom: 2em
				right: 0
				transform: translateY(23em)
				transition: all 0.45s ease
				border-left: 0
				&.invisible
					transform: translateY(0)
					transition: all 0.45s ease
				.arrow
					display: flex
					justify-content: center
					.arroww
						cursor: pointer
						color: black
						transition: transform 0.45s ease
						&.with
							transform: rotate(180deg)
							transition: all 0.45s ease
				.glyphs
					.minus
					.principal_sign
						border: 0
						.principal_title
						.principal_elements
							.sign
					.other_signs
						border: 0
						.others_title
							.title_text
								.light
						.others_elements
							.sign
								padding-right: 0.1em
					.numbers
						border: 0
						.numbers_title
						.numbers_elements
							.number


@media (max-width: $breakpoint-phone) and (orientation: landscape)

	.game_content
		.column
			&.info_column
				width: 50%
				padding: 6vh 0 0 3em
				.column_introduction 
					display: none
				.column_main_title
					font-size: 1.2em 	
				.column_description
					margin-bottom: .7em
				.glyph_slide
					.glyph_box, .number_box
						margin: 0 14vh
					.number_box
						.n_box
							div
								font-size: 12vw
								top: 7.3vw
								left: 0.3vw
								&.zero
									margin-left: -.05em
					.slide_arrows
						font-size: .7em
						width: 44%
						margin: 0 6.8vw
						margin-top: .5em
					.glyph_title, .glyph_mayan, .glyph_trans_num, .glyph_description
						display: none

			&.game_column
				width: 50%
				padding-top: 0
				margin-top: -4em
				.game_main_box
					margin: 0 7.5vh
					grid-template-columns: 9vw 18vw 9vw
					grid-template-rows: 9vw 18vw 9vw
					.droppable
						font-size: 29vw
					.box02, .box04, .box05, .box06, .box08
						div
							top: 8.6vw
					.box02
						div
							top: 4vw
							left: 2.7vw
					.box04
						div
							left: -1.7vw
					.box05
						div
							left: -2.15vw
					.box06
						div
							left: -1.7vw
					.box08
						div
							top: 4vw
							left: 2.7vw
				.game_number_box
					margin: 0 7.5vh
					grid-template-columns: 9vw 9vw 9vw 9vw
					grid-template-rows: 36vw
					.droppable
						div
							font-size: 30vw
							top: -3.5vw
							left: 1vw

			&.glyphs_column
				height: 20.5em
				transform: translateY(19.1em)
				.arrow
					height: 1.3em
					span
						&.fa-2x
							font-size: 1.3em
				.glyphs 
					.principal_sign 
						.principal_elements
							padding: 0.2em
							font-size: calc(6.2vw + .5em)
							.sign
					.other_signs
						.others_title
							.title_text
								.light
						.others_elements
							padding: 0.2em
							font-size: calc(4.5vw + .9em)


@media (max-width: $breakpoint-phone) and (orientation: portrait)

	.game_content
		flex-flow: column nowrap
		.column
			&.info_column
				@include flex
				align-items: flex-start
				justify-content: space-around
				width: 100%
				height: 55%
				padding: 7vh 4vh 3vh 3vh
				.info_column_text
					width: 40%
					margin-right: 1em
					.column_introduction
						display: none
					.column_main_title
						font-size: 1.2em
					.column_description
						font-size: .8em
				.glyph_slide
					.glyph_box
						grid-template-columns: 8vw 16vw 8vw
						grid-template-rows: 8vw 16vw 8vw
						.glyph_boxx
							div
								font-size: 25vw
								top: 8vw
							&.glyph_box02
								div
									top: 3.9vw
									left: 2.75vw
							&.glyph_box04
								div
									left: -1.15vw
							&.glyph_box05
								div
									left: -1.35vw
							&.glyph_box06
								div
									left: -1.3vw
							&.glyph_box08
								div
									top: 3.9vw
									left: 2.75vw
					.number_box
						margin: 0
						grid-template-columns: 8vw 8vw 8vw 8vw
						grid-template-rows: 32vw
						.n_box
							div
								font-size: 26vw
								top: 16vw
								left: 1.2vw
			
					.slide_arrows
						margin-left: .15em
						font-size: .7em
					.glyph_box
						margin: 0
					.glyph_title, .glyph_mayan, .glyph_trans_num, .glyph_description
						display: none

			&.game_column
				width: 100%
				padding-top: 0
				.game_main_box
					grid-template-columns: 18vw 36vw 18vw
					grid-template-rows: 18vw 36vw 18vw
					margin: 2vh 7.5vh
					.droppable
						div
							font-size: 58vw
							top: 17.3vw
							left: -3.3vw
						&.box02
							div
								top: 8.1vw
								left: 5.8vw
						&.box04
							div
								left: -3vw
						&.box05
							div
						&.box06
							div
								left: -3.2vw
						&.box08
							div
								top: 8.1vw
								left: 5.45vw
				.game_number_box
					grid-template-columns: 18vw 18vw 18vw 18vw
					grid-template-rows: 72vw
					margin: 2vh 7.5vh
					.droppable
						div
							font-size: 59vw
							top: -6.5vw
							left: 2.4vw
							&.zero
								margin-left: -.05em

			&.glyphs_column
				height: 16.8em
				transform: translateY(15.4em)
				.arrow
					height: 1.3em
					span
						&.fa-2x
							font-size: 1.3em
				.glyphs 
					.principal_sign 
						.principal_elements
							padding: 0.2em
							font-size: calc(6.2vw + .5em)
							.sign
					.other_signs
						.others_title
							.title_text
								.light
						.others_elements
							padding: 0.2em
							font-size: calc(4.5vw + .9em)




