html
	box-sizing: border-box
	height: 100vh
body
	background-color: #191005
	color: #ffffff
	font-family: 'Roboto', sans-serif
	display: flex
	max-width: 100vw
	//height: 100vh
	flex-wrap: wrap
	flex-direction: column
header
	background-color: #ed4747
	width: 100%
	display: flex
	z-index: 100
	div[class*="menu_opt"]:hover
		background-color: #af3434
		cursor: pointer
		color: white
		a
			color: white
	div
		color: black
		width: calc(100% / 6)
		text-align: center
		padding: 0.3em
	a
		text-decoration: none
		color: black
main
	max-width: 100%
	padding: 0 120px
	display: flex
	flex-wrap: wrap
	justify-content: center
	flex: 1
	overflow: auto
	&.row
		flex-direction: row
	&.column
		flex-direction: column
	&.typo
		padding: 0
		padding-left: 60px
	.main_content
		width: 100%
		height: calc(100vh - 6.5em)
		display: flex
		flex-wrap: nowrap
		justify-content: space-between
		transition: all 0.25s ease
		.main_content_title
			width: 25%
			margin-top: 100px
		.main_content_info
			//background-color: #443a34
			width: calc(70% - 40px)
			height: calc(100% - 10em)
			display: grid
			//grid-gap: 10px
			grid-template-columns: 25% 25% 25% 25%
			margin-top: 60px
			padding: 20px
			div
				//background-color: #b2aeab
				padding: 20px 0
				background-position: center
				background-repeat: no-repeat
				background-size: 65%
				align-items: center

			.grid_item_1
				background-image: url('../img/glif1.png')
			.grid_item_2
				background-image: url('../img/glif2.png')
			.grid_item_3
				background-image: url('../img/glif3.png')
			.grid_item_4
				background-image: url('../img/glif4.png')
			.grid_item_5
				background-image: url('../img/glif5.png')
			.grid_item_6
				background-image: url('../img/glif6.png')
			.grid_item_7
				background-image: url('../img/glif7.png')
			.grid_item_8
				background-image: url('../img/glif8.png')
			.grid_item_9
				grid-row-start: 3
				grid-row-end: 5
				grid-column-start: 1
				grid-column-end: 3
				background-image: url('../img/indig1.png')
				background-size: contain
			.grid_item_10
				grid-row-start: 3
				grid-row-end: 5
				grid-column-start: 3
				grid-column-end: 5
				background-image: url('../img/indig2.png')
				background-size: contain

		.main_content_info_typo
			width: 75%
			background-color: #443a34
			display: flex
			flex-direction: column
			.typo_textarea, .typo_keyboard
				width: 100%
				height: 50%
				display: flex
				justify-content: center
				& textarea
					background-color: #b2aeab
					color: black
					font-family: 'mayascript'
					font-size: 80px
					padding: 0 30px
					width: calc(100% - 86px)
					margin: 20px 40px
					height: calc(100% - 40px)
				& ul
					color: black !important
			.typo_keyboard
				height: calc(45% - 10px) !important
				padding-top: 10px
			.typo_open_close
				display: flex
				align-items: center
				justify-content: center
				width: 100%
				height: calc(5% - 2px)
				border-top: 1px solid black
				border-bottom: 1px solid black
				transition: all 0.25s ease
				span
					transition: all 0.25s ease
				&.closed
					span
						transform: rotate(180deg)
						transition: all 0.25s ease

	span.fa.fa-angle-left
		display: inline-block
		position: absolute
		top: 50%
		right: 10px
		transition: all 0.25s ease
		&:hover
			cursor: pointer
		&.with_sidebar
			transform: translateX(-20vw) rotate(180deg)
			transition: all 0.45s ease

	.main_content.with_sidebar
		width: 80%
		transform: translateX(-12%)
		transition: all 0.45s ease
	.sidebar_content
		background-color: #191005
		width: 20%
		height: calc(100vh - 2.5em)
		display: flex
		flex-wrap: wrap
		justify-content: flex-start
		position: fixed
		z-index: -200
		left: calc(100vw - 20%)
		transition: all 0.45s ease
		border-left: 1px solid white
		.image_detail
			//background-color: #b2aeab
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			width: 100%
			height: 30%
			margin-top: 30px !important
		.syllabic
			width: 100%
		.meaning
			width: 100%
		.description
			width: 100%
			font-size: 12px
		.image_detail, .syllabic, .meaning, .description
			margin: 0 35px
			& *
				margin: 0

	.sidebar_content.invisible_sidebar
		transition: all 0.25s ease
		left: 99.9vw

	.main_transalor_title, .main_content_title
		width: 100%
		color: white
		margin-top: 40px
		margin-bottom: 20px
		h1
			margin: 0
			font-weight: 700
		p
			margin: 0
		.description
			font-weight: lighter
	.main_translator_content
		background-color: #443a34
		width: calc(100% - 80px)
		padding: 10px 50px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		h3
			margin: 0
			font-weight: normal
		.translator_spanish, .translator_mayan
			width: 40%
			.translator_spanish_header, .translator_mayan_header
				width: 100%
				padding: 5px 0px
				label
					font-size: 10px
			.translator_spanish_content, .translator_mayan_content
				width: 100%
				color: black
				.textarea_container
					position: relative
					textarea
						font-size: 22px
						width: 100%
						height: 100%
						resize: none
						background-color: #b2aeab
						border: none
						overflow: auto
						outline: none
					span
						position: absolute
						bottom: 13px
						right: 10px
						color: #443a34
				p
					color: white
					padding-top: 4px
					font-size: 9px

footer
	z-index: 100
	position: fixed
	left: 0
	bottom: 0
	width: 100%
	height: 3.5em
	background-color: #dba94c
	color: black
	//display: flex
	//margin-top: 20px
	//flex-shrink: 0
	font-size: 12px
	&.typo
		margin-top: 0px
	.footer_content
		display: flex
		justify-content: center
		align-items: center
		width: calc(100% - 120px)
		padding: 0 60px
		div
			width: calc(100%/3)
		div.american_museum
			text-align: right

$breakpoint-tablet: 768px
$breakpoint-phone: 600px
$breakpoint-desktop: 1024px
$breakpoint-small: 360px

@media (max-width: breakpoint-desktop)
	main
		padding: 0 40px


@media (min-width: breakpoint-phone) and (max-width: breakpoint-tablet)
	main
		.main_translator_content
			.translator_spanish, .translator_mayan
				width: 45%


@media (max-width: breakpoint-phone)
	main
		padding: 0 40px
		.main_translator_content
			.translator_spanish, .translator_mayan
				width: 100%
		.main_transalor_title
			margin-top: 20px
			margin-bottom: 30px
			p.description
				display: none


@media (max-width: breakpoint-small)
	main
		.main_translator_content
			margin: 0




