html
	box-sizing: border-box
body
	background-color: #191005
	//width: 100vw
	color: #ffffff
	font-family: 'Roboto', sans-serif
	display: flex
	min-height: 100vh
	flex-direction: column
	flex-wrap: wrap
header
	background-color: #ed4747
	width: 100%
	display: flex
	div[class*="menu_opt"]:hover
		background-color: #af3434
		cursor: pointer
		color: white
	div
		color: black
		width: calc(100% / 6)
		text-align: center
		padding: 0.3em
main
	width: calc(100% - 240px)
	margin: 0 120px
	display: flex
	flex-wrap: wrap
	justify-content: center
	flex: 1
	.main_content
		width: 100%
		.main_content_info
			background-color: #443a34
			width: 80%
	.sidebar_content
		width: 0%
		display: none
	.main_transalor_title
		width: 100%
		color: white
		margin-top: 60px
		h1
			margin: 0
			font-weight: 700
		p
			margin: 0
		.description
			font-weight: lighter
	.main_translator_content
		background-color: #443a34
		width: calc(100% - 80px)
		height: 50%
		padding: 10px 50px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		h3
			margin: 0
			font-weight: normal
		.translator_spanish, .translator_mayan
			width: 40%
			.translator_spanish_header, .translator_mayan_header
				width: 100%
				padding: 5px 0px
				label
					font-size: 10px
			.translator_spanish_content, .translator_mayan_content
				width: 100%
				color: black
				.textarea_container
					position: relative

					textarea
						font-size: 22px
						width: 100%
						height: 100%
						resize: none
						background-color: #b2aeab
						border: none
						overflow: auto
						outline: none
					span
						position: absolute
						bottom: 13px
						right: 10px
						color: #443a34
				p
					color: white
					padding-top: 4px
					font-size: 10px

footer
	background-color: #dba94c
	color: black
	width: 100%
	height: 50px
	display: flex
	margin-top: 20px
	flex-shrink: 0
	font-size: 12px
	.footer_content
		display: flex
		justify-content: center
		align-items: center
		width: calc(100% - 120px)
		padding: 0 60px
		div
			width: calc(100%/3)
		div.american_museum
			text-align: right

#draggable
	width: 100px
	height: 100px
	padding: 0.5em
	float: left
	margin: 10px 10px 10px 0

#droppable
	width: 150px
	height: 150px
	padding: 0.5em
	float: left
	margin: 10px
