@font-face
  font-family: 'mayascript'
  font-weight: normal
  font-style: normal
  src: url('../fonts/mayascript/MayaFont-Regular.eot'), url('../fonts/mayascript/MayaFont-Regular.otf') format('opentype'), url('../fonts/mayascript/MayaFont-Regular.woff2') format('woff2'), url('../fonts/mayascript/MayaFont-Regular.woff') format('woff'), url('../fonts/mayascript/MayaFont-Regular.ttf') format('truetype')
